In [1]:
#Entrypoint 2.x
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.window import Window

spark = SparkSession.builder.config("spark.sql.shuffle.partitions", "2").appName("Analysis").master("local[2]").getOrCreate()


# On yarn:
# spark = SparkSession.builder.appName("Spark SQL basic example").enableHiveSupport().master("yarn").getOrCreate()
# specify .master("yarn")

sc = spark.sparkContext

/home/sunbeam/.local/lib/python3.6/site-packages/pyspark/context.py:238: FutureWarning: Python 3.6 support is deprecated in Spark 3.2.
  FutureWarning

In [2]:
%run "../includes/configuration"

In [3]:
race_results_df = spark.read.parquet(f"{presentation_folder_path}/race_results")

In [4]:
spark.sql("CREATE DATABASE IF NOT EXISTS demo")

DataFrame[]

In [5]:
spark.sql("SHOW databases")

DataFrame[namespace: string]

In [6]:
yo = spark.sql("DESCRIBE DATABASE demo")

In [7]:
yo

DataFrame[info_name: string, info_value: string]

In [8]:
yo.show()

+-------------+--------------------+
|    info_name|          info_value|
+-------------+--------------------+
|Database Name|                demo|
|      Comment|                    |
|     Location|file:/home/sunbea...|
|        Owner|                    |
+-------------+--------------------+

In [9]:
yo.show()

+-------------+--------------------+
|    info_name|          info_value|
+-------------+--------------------+
|Database Name|                demo|
|      Comment|                    |
|     Location|file:/home/sunbea...|
|        Owner|                    |
+-------------+--------------------+

In [21]:
## create managed table in python

In [ ]:
spark.sql("USE demo")
spark.sql("SHOW tables").show()

In [11]:
race_results_df = spark.read.parquet(f"{presentation_folder_path}/race_results")

In [12]:
race_results_df.write.format("parquet").saveAsTable("demo.race_results_python")

In [13]:
yo = spark.sql("SHOW tables")

In [14]:
yo.show()

+---------+-------------------+-----------+
|namespace|          tableName|isTemporary|
+---------+-------------------+-----------+
|     demo|race_results_python|      false|
+---------+-------------------+-----------+

In [15]:
yo = spark.sql("DESCRIBE race_results_python")
yo.show()

+------------------+---------+-------+
|          col_name|data_type|comment|
+------------------+---------+-------+
|         race_year|      int|   null|
|         race_name|   string|   null|
|         race_date|timestamp|   null|
|  circuit_location|   string|   null|
|       driver_name|   string|   null|
|     driver_number|      int|   null|
|driver_nationality|   string|   null|
|              team|   string|   null|
|              grid|      int|   null|
|       fastest_lap|      int|   null|
|         race_time|   string|   null|
|            points|    float|   null|
|          position|      int|   null|
|      created_date|timestamp|   null|
+------------------+---------+-------+

In [17]:
race_results_sql = spark.sql("SELECT * FROM demo.race_results_python WHERE race_year = 2020")

In [18]:
race_results_sql.write.format("parquet").saveAsTable("demo.race_results_sql")

In [19]:
spark.sql("DROP TABLE demo.race_results_sql")

DataFrame[]

In [20]:
# Create external table python